%top-level-nav-font {
    font-family: $primary-font;
    text-transform: uppercase;
    color: $nav-link;
    font-size: 12px;
}
%top-level-nav-hover {
    text-decoration: none;
    color: #35CDD9;
}

%second-level-nav-font {
    font-family: $primary-font;
    text-transform: uppercase;
    color: $gray80;
    font-size: 12px;
    padding: 10px 10px;
    text-align: left;
}


.main-nav {
    &__container {
        background: $nav-background;
        position: absolute;
        z-index: 100;
        top: 0;
    }
    &__wrapper {  
      @media screen and (max-width: 768px) {
        display: none;
        background: #000;
        position: fixed;
        top:0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        padding: 5vw;
      }
      ul {
        list-style-type: none;
      }
    }
  
    &--desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1440px;
      padding: 0;
      margin: 0 auto;
      list-style-type: none;
      @media screen and (max-width: 768px) {
        //display: none;
        align-items: flex-start;
        flex-direction: column;
      }
    }
    &__item {
      &--0 {
        display: flex;
        align-items: center;
        height: 50px;
        cursor: pointer;

      }
      &--1 {
        width: 100%;
      }
    }
    &__link {
      &--0 {
        display: block;
        font-size: 12px;
        line-height: 1.3;
        list-style-type: none;
        text-decoration: none;
        @media screen and (max-width: 768px) {
          //display: none;
          font-size: 16px;
        }
        @extend %top-level-nav-font;
        &:hover {
            @extend %top-level-nav-hover;
        }
      }
      &--1 {
        width: 100%;
        display: inline-block;
        list-style-type: none;
        @extend %second-level-nav-font;
        &:hover {
          @extend .hover;
        }
      }
    }
    &__sub-menu {
      &--0 {
        font-family: $primary-font;
        text-align: left;
        visibility: hidden;
        position: fixed;
        z-index: 100;
        padding: 0;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        background: $nav-dropdown;

      }
      &--1 {
        visibility: hidden;
        position: absolute;
      }
      &--show {
        visibility: visible;
      }
    }
    &__minerals {
      font-size: 12px;
      text-align: center;
      
      & > ul.my-sub-menu0 {
        display: flex;
        font-family: $primary-font;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 95;
        background-image: $purpleGradient;
        padding: 25px;
        margin-left: -25px;
        width: 70%;
        visibility: hidden;
      }
    }
  }

  .col-nav {
    &__col {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
      @media screen and (max-width: 768px) {
        //display: none;
        display: none;
      }
    }
    &__sub-menu {
      &--0 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        z-index: 4;
        background: $nav-dropdown;
        padding: 25px;
        margin-left: -25px;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        visibility: hidden;
        overflow: scroll;
        height: 100%;
        min-height: 500px;
        @media screen and (max-width: 768px) {
          //display: none;
          top: 0 !important;
        }
        @extend %second-level-nav-font;

      }
      &--1 {
        padding: 0;
      }
      &--show {
        visibility: visible;
      }
    }
    &__item {
      &--0 {
        display: flex;
        align-items: center;
        height: 50px;
        cursor: pointer;
       
      }
  
      &--2 {
        line-height: 1;
      }
    }
    &__link {
      &--0 {
        display: block;
        line-height: 1.3;
        list-style-type: none;
        width: 100%;
        text-decoration: none;
        @extend %top-level-nav-font;
        &:hover {
            @extend %top-level-nav-hover;
        }
        @media screen and (max-width: 768px) {
          //display: none;
          font-size: 16px;
        }
    }
    &--1 {
        font-weight: bold;
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid $gray40;
        @extend %second-level-nav-font;
        &:hover {
          @extend .hover;
        }
      }
      &--2 {
        @extend %second-level-nav-font;
 
        display: block;
        &:hover {
          @extend .hover;
        }
      }
    }
  }

.secondary-nav {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    &--hide {
      @media screen and (max-width: 768px) {
        //display: none;
        display: none;
      }
    }
    &__text {
        list-style-type: none;
        margin-left: 15px;
        display: flex;
        justify-content: flex-end;
        & a {
            font-family: $primary-font;
            font-size: 10px;
            color: #fff;
            &:hover {
                @extend %top-level-nav-hover;
            }
        }
    }
    &__close {
      right: 0;
      top: 0;
      color: white;
      padding: 18px;
      padding-right: 30px;
      position: fixed;
      z-index: 102;
      border: none;
      display: none;
      background: none;
      font-family: $primary-font;

    }
    &__menu {
      color: white;
      border: none;
      background: none;
      display: none;
      font-family: $primary-font;
      @media screen and (max-width: 768px) {
        //display: none;
        display: block;
      }
    }
   
}


.mobile-menu {
  &--show {
    display: block !important;
  }
}
