.woocommerce {
    &__price {
      color: gray;
      font-size: 10px;
    }
  
    &-loop-product__title {
      color: $purple;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;
      &:hover {
        color: $purple;
        text-decoration: underline;
      }
    }
    &__no-products {
      color: #484848;
      font-size: 18px;
    }
    &-section__product-title h2 {
      font-weight: bold;
    }
    &-section__text {
      background: rgba(255, 255, 255, 0.7);
      padding: 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 80px;
      @media screen and (max-width: 768px) {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  
    &__single {
      padding-top: 50px;
    }
    &__pagination {
      display: flex;
    }
    &__section {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-inline-start: 0;
      }
      &-section__product {
        color: blue;
        background: #fff;
        margin-bottom: 10px;
        padding: 0;
        width: 48%;
        margin-right: 10px;
        max-height: 280px;
        min-height: 250px;
        overflow: hidden;
        position: relative;
        border-radius: 2px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: row;
          margin-right: 0;
          margin-top: 25px;
          width: 100%;
        }  
  }
}
