.footer {
    background: black;
    &__title {
        padding-top: 20px;
        color: white;
    }
    &__copyright {
        padding: 20px;
        background: #0e0e0e;
        width: 100%;
    }
    p {
        color: white;
    }
    ul {
        list-style-type: none;
        padding-inline-start: 5px;
        margin: none;
        li a {
            color: white;
            font-family: $primary-font;
        }
    }
}
